@model Gestion_Empleados.Models.Empleado

@{
    ViewData["Title"] = "Eliminar Empleado";
}

<h1 class="text-center text-white">Eliminar Empleado</h1>

<div class="container bloque mx-auto">
    <h4 class="text-center text-primary">¿Estás seguro de que deseas eliminar este empleado?</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Correo)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Correo)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.FechaNacimiento)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.FechaNacimiento)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.Puesto)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.Puesto)
        </dd>
        <dt class="col-sm-4 text-warning text-right">
            @Html.DisplayNameFor(model => model.FechaContratacion)
        </dt>
        <dd class="col-sm-8 text-white">
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>
    </dl>

    <form asp-action="Delete" class="text-center">
        <input type="hidden" asp-for="EmpleadoId" />
        <input type="submit" value="Eliminar" class="btn btn-danger mx-2" />
        <a asp-action="Index" class="btn btn-secondary mx-2">Volver a la lista</a>
    </form>
</div>
